div {
    height: 200px;
}

.background-color {
    background-color:  blue;
}
.background-image {
    background-image: url(images/minsu.jpg);
    background-position: bottom bottom; /* 가로,세로 초점 이동 */
    background-size: contain;
    /* contain & 200px 200px & cover */
    background-repeat: initial;
    background-attachment: fixed;
    /* fixed & scroll */
}