.big-box{
  position: relative;
  margin: 100px auto 500px;
  border: 5px solid black;
  width: 500px;
  height: 500px;
}

.small-box{
  width: 100px;
  height: 100px;
}

#red {
  background-color: red;
  position: absolute;
  top: 400px;
  left: 400px;
  /* 큰 사각형 내부의 우측 하단 모서리에 빨간 사각형 위치시키기 */
  
}

#gold {
  position: fixed;
  background-color: gold;
  bottom: 50px;
  right: 50px;
  /* 브라우저의 하단에서 50px, 우측에서 50px 위치에 고정하기 */

}

#green {
  position: absolute;
  background-color: green;
  top:200px;
  left:200px;
  /* absolute 이용해서 큰 사각형의 가운데 위치시키기 */

}

#blue {
  position: relative;
  background-color: blue;
  top:100px;
  left:100px;
  /* relative를 사용해서 큰 사각형 죄측 상단 모서리에서 100px, 100px 띄우기 */

}

#pink {
  position: absolute;
  background-color: pink;
  bottom:400px;
  /* 큰 사각형 내부의 좌측 상단 모서리로 옮기기*/
}

#purple {
  background-color: purple;
  /* 초록색  기준으로 100 100 만큼 떨어져 있음 */
  position: absolute;
  top: 100px;
  left: 100px;
}

#orange {
  background: orange;
  /* 파란색 기준으로 얼마나 떨어져있는가 */
  position: absolute;
  top: -100px;
  left: 100px;
}

